# Files/directories to ignore for this pipeline

# Targets directory
_targets/

# All output
*/out/*
*/data_*/*
!*/*/.placeholder.txt
scratch/*

# R files
# History files
.Rhistory
.Rapp.history

# Session data files
.RData
.DS_Store

# User-specific files
.Rproj.user

# Rstudio files
.Ruserdata

#Snakemake files
*/.snakemake

#python cache files
*_pycache_*